{%extends "layout.html"%} 
{%block content%}

<div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <div class="content content-section">
            <form method="POST" action ="">
                {{form.hidden_tag()}}
                <!-- csrf token -->
                <fieldset class="form-group">
                    <legend class= "border-bottom mb-4"> Join today</legend>
                    <div class="form-group">
                        {{form.Fname.label(class="form-control-label")}}

                        {% if form.Fname.errors %}
                        {{form.Fname(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.Fname.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form.Fname(class="form-control form-control-lg ")}}                        
                        {%endif%}

                        
                    </div>
                    <div class="form-group">
                        {{form.Lname.label(class="form-control-label")}}
                        {% if form.Lname.errors %}
                        {{form.Lname(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.Lname.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form.Lname(class="form-control form-control-lg ")}}                        
                        {%endif%}

                    </div>
                    <div class="form-group">
                        {{form.email.label(class="form-control-label")}}
                        {% if form.email.errors %}
                        {{form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.email.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form.email(class="form-control form-control-lg ")}}                        
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{form.password.label(class="form-control-label")}}
                        {% if form.password.errors %}
                        {{form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.password.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form.password(class="form-control form-control-lg ")}}                        
                        {%endif%}                    
                    </div>
                    <div class="form-group">
                        {{form.confirm_password.label(class="form-control-label")}}
                        {% if form.confirm_password.errors %}
                        {{form.confirm_password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.confirm_password.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form.confirm_password(class="form-control form-control-lg ")}}                        
                        {%endif%}                    </div>
                    <div class="form-group">
                        {{form.role.label(class="form-control-label")}}
                        {% if form.role.errors %}
                        {{form.role(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.role.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form.role(class="form-control form-control-lg ")}}                        
                        {%endif%}                    </div>
        
                </fieldset>
                <div class ="form-group pt-3">
                    {{form.submit(class='btn btn-outline-info')}}
                </div>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class='text-muted'>Already have an account? <a class='ml2' href="{{url_for('login')}}"> Sign In</a></small>
                
        </div>
      </div>
      <div class="col"></div>
    </div>
</div>



{%endblock%}
